<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>muro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
  <a [routerLink]="['/']" routerLinkActive="router-link-active">Inicio</a>
</ion-content>
