
.heading{
  font-size: 32px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 70px;
  margin-bottom: -60px;
}
.para{
  font-size: 22px;
  font-weight: 500;
  padding-left: 20px;
  margin-bottom: 70px;
  color: #A6ABB1;
}
